<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.images = {
    logo: "<%= image_url('logo.png') %>",
    session_background: "<%= image_url('session_background.png')%>",
    moneybags: "<%= image_url('moneybags.png')%>"
  }
</script>

<main id="root"></main>
