// Place all the styles related to the api/watchlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .watchlist-stock-show-box {
//     margin-top: 150px;
// }

.watchlist-index-box {
    margin-top: 100px;
    margin-left: 20px;
}
.for-space-between {
    display: flex;
    justify-content:flex-start;
}

.watchlist-index-item {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.watchlist-index-item > p {
    padding: 10px 10px 10px;
}

// .watchlist-index-box > .watchlist-index-item-price {
//     display:flex;
//     justify-self: flex-end;
// }