.login-form-box {
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    font-weight: 600;
    font-size: 26px;
    margin: 0px 0px 16px;
    margin-top: 5%;
    min-width: 50%;
    z-index: 2;
}

.login-form-container {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
}

.login-form {
    font-weight: 200;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-label {
    padding: 9px 0px;
}
 
.login-input {
    border-style: solid;
    border-color: white;
    background-color: rgb(232, 240, 254);
    border-width: 1px;
    border-radius: 6px;
    padding: 15px 20px;
    width: 368px;
}

.login-input:hover {
    border-style: solid;
    border-color: #cbcbcd;
}

.login-input:focus {
    border-style: solid;
    border-color: #21ce99;
}
 

.session-submit {
    text-transform: capitalize;
    height: 48px;
    width: 100px;
    background: #21ce99;
    color: white;
    cursor: pointer;
    border-radius: 16px;
    padding: 16px;
}

.session-submit:hover {
    color: white;
    background: #00ea9c;
}

.session-background {
    // display: flex;
    // flex-direction: row;
    height: 100vh;
    // position: absolute;
    // align-self: left;
    // background-size: cover;
    // height: 100%;
    flex: 1 1 50%;
    flex-grow: 10;
    max-width: 50%;
}
 